<Router AppAssembly="@typeof(Program).Assembly">
	<Found Context="routeData">
		<RouteView DefaultLayout="@typeof(BasicLayout)" RouteData="@routeData" />
	</Found>
	<NotFound>
		<LayoutView Layout="@typeof(BasicLayout)">
			<Result Status="404" SubTitle="页面找不到了" Title="404">
				<Extra>
					<Button Type="@ButtonType.Primary" OnClick="BackHome">返回主页</Button>
				</Extra>
			</Result>
		</LayoutView>
	</NotFound>
</Router>
<AntContainer />

@code {

	[Inject]
	public NavigationManager Navigator { get; set; }

	private void BackHome() => Navigator.NavigateTo("/");

}