@namespace Client.Pages.Account.Settings

<div class="baseView">
	<div class="left" style="min-width: 310px;">
		<Form Style="display:flex;" Model="@_currentUser" OnFinish="HandleFinish">
			<div style="margin-right: 50px">
				<FormItem Label="昵称">
					<AntDesign.Input @bind-Value="@context.Name" />
				</FormItem>
				<FormItem Label="邮箱">
					<AntDesign.Input @bind-Value="@context.Email" />
				</FormItem>
				<FormItem>
					<Button HtmlType="submit" Type="@ButtonType.Primary">
						保存信息
					</Button>
				</FormItem>
			</div>
			<div>
				<FormItem Label="头像">
					<Upload ShowUploadList="false">
						<div class="avatar">
							<img alt="avatar" width="128" src="@_currentUser.Avatar" />
						</div>
					</Upload>
				</FormItem>
			</div>
		</Form>
	</div>
</div>