@using Comment = Client.Api.Comment
@using TrueMogician.Extensions.Collections.Tree
@namespace Client.Pages.Problem

<Card Bordered>
	<CascadingValue IsFixed Value="@CurrentUser">
		@if (CommentForest?.Any() == true) {
			@foreach (var tree in CommentForest) {
				<CommentTree Node="@tree.Root" OnReply="@OnReply" />
			}
		}
	</CascadingValue>

	<Comment>
		<AvatarTemplate>
			@if (string.IsNullOrEmpty(CurrentUserAvatar)) {
				<Avatar>@CurrentUser.GetDisplayingName()</Avatar>
			}
			else {
				<Avatar Src="@CurrentUserAvatar" />
			}
		</AvatarTemplate>
		<ContentTemplate>
			<TextArea @bind-Value="@CommentContent" MaxLength="256" @ref="TextAreaElement" ShowCount></TextArea>
			<div style="display: flex; justify-content: right; margin-top: 24px;">
				@if (RepliedCommentId.HasValue) {
					<Button OnClick="() => RepliedCommentId = null" Style="margin-right: 12px" Type="@ButtonType.Primary">
						取消回复
					</Button>
				}
				<Button OnClick="SubmitComment" Type="@ButtonType.Primary">
					@(RepliedCommentId.HasValue ? "回复" : "发布")
				</Button>
			</div>
		</ContentTemplate>
	</Comment>
</Card>

@code {

	private IList<Comment> _comments;

	[Parameter]
	public int ProblemId { get; set; }

	[Inject]
	public ApiClient Api { get; init; }

	[Inject]
	public LocalStorageManager LocalStorageManager { get; init; }

	private Forest<ValuedTreeNode<Comment>>? CommentForest { get; set; }

	private User CurrentUser { get; set; }

	private string? CurrentUserAvatar { get; set; }

	private int? RepliedCommentId { get; set; }

	private string CommentContent { get; set; }

	private TextArea TextAreaElement { get; set; }

	public IList<Comment> Comments {
		get => _comments;
		set {
			_comments = value;
			var dictionary = value.ToDictionary(c => c.Id);
			CommentForest = TreeUtilities.BuildForest(value, c => c.ReplyTo is null ? null : dictionary[c.ReplyTo.Value]);
		}
	}

	public override async Task SetParametersAsync(ParameterView parameters) {
		CurrentUser = await LocalStorageManager.GetCurrentUser();
		CurrentUserAvatar = await LocalStorageManager.GetCurrentUserAvatar();
		await base.SetParametersAsync(parameters);
	}

	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		Comments = (await Api.GetProblemCommentsAsync(ProblemId)).Result;
	}

	private async Task OnReply(int id) {
		RepliedCommentId = id;
		await TextAreaElement.Focus();
	}

	private async Task SubmitComment() {
		var content = new RichText {
			Format = RichTextFormat.Raw,
			Content = CommentContent
		};
		var resp = await Api.CommentProblemAsync(ProblemId, new NewComment {
			ReplyTo = RepliedCommentId,
			Content = content
		});
		var newComment = new Comment {
			Id = resp.Result.Id,
			ProblemId = ProblemId,
			Time = resp.Result.Time,
			Content = content,
			ReplyTo = RepliedCommentId,
			Author = new Author {
				Id = CurrentUser.Id,
				Username = CurrentUser.Username,
				Avatar = CurrentUserAvatar
			}
		};
		Comments.Add(newComment);
		if (RepliedCommentId.HasValue) {
			foreach (var tree in CommentForest!) {
				var target = tree.Root.FirstOrDefault(n => n.Value.Id == RepliedCommentId.Value);
				if (target is not null) {
					target.Children.Add(new ValuedTreeNode<Comment>(newComment));
					break;
				}
			}
		}
		else
			CommentForest!.Add(new ValuedTreeNode<Comment>(newComment));
		CommentContent = "";
		RepliedCommentId = null;
		StateHasChanged();
	}

}