@namespace Client.Pages.Profile
@page "/profile/basic"

<PageContainer Title="Basic Profile">
	<Breadcrumb>
		<Breadcrumb>
			<BreadcrumbItem>Home</BreadcrumbItem>
			<BreadcrumbItem>Profile</BreadcrumbItem>
			<BreadcrumbItem>Basic Profile </BreadcrumbItem>
		</Breadcrumb>
	</Breadcrumb>
	<ChildContent>
		<Card>
			<Descriptions Style="margin-bottom: 32px;" Title="Refund Application">
				<DescriptionsItem Title="Pickup Order Number">1000000000</DescriptionsItem>
				<DescriptionsItem Title="Status">Picked Up</DescriptionsItem>
				<DescriptionsItem Title="Sales Order Number">1234123421</DescriptionsItem>
				<DescriptionsItem Title="Sub-Order">3214321432</DescriptionsItem>
			</Descriptions>
			<Divider Style="margin-bottom: 32px;" />
			<Descriptions Style="margin-bottom: 32px;" Title="User Info">
				<DescriptionsItem Title="Username">Fu Xiaoxiao</DescriptionsItem>
				<DescriptionsItem Title="Contact Number">18100000000</DescriptionsItem>
				<DescriptionsItem Title="Default Delivery">Cainiao Warehouse</DescriptionsItem>
				<DescriptionsItem Title="Pickup Address">
					No. 18, Wantang Road, Xihu District, Hangzhou, Zhejiang, China
				</DescriptionsItem>
				<DescriptionsItem Title="Remarks">N/A</DescriptionsItem>
			</Descriptions>
			<Divider Style="margin-bottom: 32px;" />
			<div class="title">Returned Goods</div>
			<!--todo: table style not working-->
			<Table DataSource="@_data.BasicGoods" HidePagination Style="margin-bottom: 24px;">
				<AntDesign.Column @bind-Field="@context.Id" Title="Product Number" />
				<AntDesign.Column @bind-Field="@context.Name" Title="Product Name" />
				<AntDesign.Column @bind-Field="@context.Barcode" Title="Barcode" />
				<AntDesign.Column @bind-Field="@context.Price" Title="Unit Price" />
				<AntDesign.Column @bind-Field="@context.Num" Title="Quantity" />
				<AntDesign.Column @bind-Field="@context.Amount" Title="Amount" />
			</Table>
			<div class="title">Progress</div>
			<Table DataSource="@_data.BasicProgress" HidePagination Style="margin-bottom: 16px;">
				<AntDesign.Column @bind-Field="@context.Time" Title="Time" />
				<AntDesign.Column @bind-Field="@context.Rate" Title="Current Progress" />
				<AntDesign.Column @bind-Field="@context.Status" Title="Status" />
				<AntDesign.Column @bind-Field="@context.Operator" Title="Operator ID" />
				<AntDesign.Column @bind-Field="@context.Cost" Title="Cost" />
			</Table>
		</Card>
	</ChildContent>
</PageContainer>