@namespace Client.Pages.Form

<Form Class="stepForm" LabelCol="new ColLayoutParam { Span = 5 }" Layout="@FormLayout.Horizontal" Model="_model"
	WrapperCol="new ColLayoutParam { Span = 19 }">
	<FormItem Label="Account">
		<Select @bind-Value="@context.PayAccount" Placeholder="test@example.com" TItem="string" TItemValue="string">
			<SelectOptions>
				<SelectOption Label="ant-design@alipay.com" TItem="string" TItemValue="string"
					Value="@("ant - design @alipay.com")" />
			</SelectOptions>
		</Select>
	</FormItem>
	<FormItem Label="Recipient">
		<InputGroup Compact Style="display: table">
			<Select @bind-Value="@context.ReceiverAccountType" DefaultValue="@("alipay")" Style="width: 100px;"
				TItem="string" TItemValue="string">
				<SelectOptions>
					<SelectOption Label="Alipay" TItem="string" TItemValue="string" Value="@("alipay")" />
					<SelectOption Label="Bank Account" TItem="string" TItemValue="string" Value="@("bank")" />
				</SelectOptions>
			</Select>
			<Input @bind-Value="@context.ReceiverAccount" Placeholder="test@example.com"
				Style="width: calc(100% - 100px);" />
		</InputGroup>
	</FormItem>
	<FormItem Label="Payee Name">
		<Input @bind-Value="@context.ReceiverName" Placeholder="Please enter the payee name" />
	</FormItem>
	<FormItem Label=" Amount">
		<Input @bind-Value="@context.Amount" Placeholder="Please enter the transfer amount" />
	</FormItem>
	<FormItem WrapperCol="_formLayout.WrapperCol">
		<Button OnClick="OnValidateForm" Type="primary">
			Next Step
		</Button>
	</FormItem>
</Form>
<Divider Style="margin: 40px 0 24px 0;" />
<div class="desc">
	<h3>Description</h3>
	<h4>Transfer to Alipay account</h4>
	<p>
		If necessary, some common questions about the product can be put here.If necessary, some common questions about
		the product can be put here.If necessary, some common questions about the product can be put here.
	</p>
	<h4>Transfer To Bank Card</h4>
	<p>
		If necessary, some common questions about the product can be put here.If necessary, some common questions about
		the product can be put here.If necessary, some common questions about the product can be put here.
	</p>
</div>