@namespace Client.Pages.Form
@page "/form/basic-form"

<PageContainer Title="Basic Form">
	<Breadcrumb>
		<Breadcrumb>
			<BreadcrumbItem>Home</BreadcrumbItem>
			<BreadcrumbItem>Form</BreadcrumbItem>
			<BreadcrumbItem>Basic Form</BreadcrumbItem>
		</Breadcrumb>
	</Breadcrumb>
	<Content>
		<span>Form pages are used to collect or verify information to users, and basic forms are common in scenarios
			where there are fewer data items.</span>
	</Content>
	<ChildContent>
		<Card>
			<Form Model="@_model" OnFinish="HandleSubmit" Style="margin-top: 8px;">
				<FormItem Label="Title" LabelCol="_formItemLayout.LabelCol" WrapperCol="_formItemLayout.WrapperCol">
					<Input @bind-Value="@context.Title" Placeholder="Give the target a name" />
				</FormItem>
				<FormItem Label="Start and end date" LabelCol="_formItemLayout.LabelCol"
					WrapperCol="_formItemLayout.WrapperCol">
					<RangePicker @bind-Value="@context.DateRange" Style="width: 100%;" TValue="DateTime?[]" />
				</FormItem>
				<FormItem Label="Goal description" LabelCol="_formItemLayout.LabelCol"
					WrapperCol="_formItemLayout.WrapperCol">
					<TextArea @bind-Value="@context.Goal" MinRows="4"></TextArea>
				</FormItem>
				<FormItem Label="Metrics" LabelCol="_formItemLayout.LabelCol" WrapperCol="_formItemLayout.WrapperCol">
					<TextArea @bind-Value="@context.Standard" MinRows="4"></TextArea>
				</FormItem>
				<FormItem Label="Client" LabelCol="_formItemLayout.LabelCol" WrapperCol="_formItemLayout.WrapperCol">
					<Input @bind-Value="@context.Client"
						Placeholder="Please describe your customer service, internal customers directly Name job number" />
				</FormItem>
				<FormItem Label="Inviting critics" LabelCol="_formItemLayout.LabelCol"
					WrapperCol="_formItemLayout.WrapperCol">
					<Input @bind-Value="@context.Invites"
						Placeholder="Please describe your customer service, internal customers directly Name job number" />
				</FormItem>
				<FormItem Label="Weight" LabelCol="_formItemLayout.LabelCol" WrapperCol="_formItemLayout.WrapperCol">
					<AntDesign.InputNumber @bind-Value="@context.Weight" DefaultValue="0" Max="100" Min="0" />
					<span class="ant-form-text">%</span>
				</FormItem>
				<FormItem Label="Target disclosure" LabelCol="_formItemLayout.LabelCol"
					WrapperCol="_formItemLayout.WrapperCol">
					<RadioGroup @bind-Value="@context.Disclosure">
						<Radio Value="1">Public</Radio>
						<Radio Value="2">Partially public</Radio>
						<Radio Value="3">Private</Radio>
					</RadioGroup>
				</FormItem>
				<FormItem Label=" " Style="margin-top: 32px" WrapperCol="_submitFormLayout.WrapperCol">
					<Button HtmlType="submit" Type="primary">
						Submit
					</Button>
					<Button Style="margin-left: 8px">
						Save
					</Button>
				</FormItem>
			</Form>
		</Card>
	</ChildContent>
</PageContainer>