@namespace Client.Pages.Main
@page "/"

<GridContent>
	<Row Gutter="24">
		<AntDesign.Col Lg="24" Md="24" Sm="24" Style="margin-bottom: 24px;" Xl="18" Xs="24">
			<Card>
				<Row>
					<AntDesign.Col Md="6" Sm="12" Xs="24">
						<Statistic Suffix="@("yuan")" Title="@("Total transactions today")" Value="124543233" />
					</AntDesign.Col>
					<AntDesign.Col Md="6" Sm="12" Xs="24">
						<Statistic Suffix="@("%")" Title="@("Sales target completion rate")" Value="92" />
					</AntDesign.Col>
					<AntDesign.Col Md="6" Sm="12" Xs="24">
						<CountDown Format="hh:mm:ss:fff" Title="@("Remaining time of activity")" Value="@_deadline" />
					</AntDesign.Col>
					<AntDesign.Col Md="6" Sm="12" Xs="24">
						<Statistic Suffix="@("yuan")" Title="@("Total transactions per second")" Value="234" />
					</AntDesign.Col>
				</Row>
				<div class="mapChart">
					<Map />
				</div>
			</Card>
		</AntDesign.Col>
		<AntDesign.Col Lg="24" Md="24" Sm="24" Style="margin-bottom: 24px;" Xl="6" Xs="24">
			<Card Title="@("Activity forecast")">
				<ActiveChart />
			</Card>
			<Card Title="@("Efficiency")">
				@* <AntDesign.Pro.Pages.Monitor.Gauge Title="Ratio" Height="180" Percent="81" /> *@
			</Card>
		</AntDesign.Col>
	</Row>

	<Row Gutter="24">
		<AntDesign.Col Lg="24" Sm="24" Style="margin-bottom: 24px;" Xl="12" Xs="24">
			<Card Class="pieCard" Title="@("Proportion Per Category")">
				<Row Style="padding: 16px 0;">
					<AntDesign.Col Span="8">
						@* <AntDesign.Pro.Pages.Monitor.Pie LineWidth="2" /> *@
					</AntDesign.Col>
					<AntDesign.Col Span="8">
						@* <AntDesign.Pro.Pages.Monitor.Pie LineWidth="2" /> *@
					</AntDesign.Col>
					<AntDesign.Col Span="8">
						@* <AntDesign.Pro.Pages.Monitor.Pie LineWidth="2" /> *@
					</AntDesign.Col>
				</Row>
			</Card>
		</AntDesign.Col>
		<AntDesign.Col Lg="12" Sm="24" Style="margin-bottom: 24px;" Xl="6" Xs="24">
			<Card Title="@("Popular Searches")">
				@* <TagCloud Data="Tags" Height="161" /> *@
			</Card>
		</AntDesign.Col>
		<AntDesign.Col Lg="12" Sm="24" Style="margin-bottom: 24px;" Xl="6" Xs="24">
			<Card Title="@("Resource Surplus")">
				@* <WaterWave Height="161" Title="Fund Surplus" Percent="34" /> *@
			</Card>
		</AntDesign.Col>
	</Row>
</GridContent>

@code {

	private readonly DateTime _deadline = DateTime.Now.AddMilliseconds(1000 * 60 * 60 * 24 * 2 + 1000 * 30);

}