@namespace Client.Pages.Main
@page "/"
@page "/index"

<GridContent>
	<Row Gutter="@((ResponsiveGutter, ResponsiveGutter))">
		<AntDesign.Col Lg="24" Md="24" Sm="24" Xl="18" Xs="24" Style="margin-bottom: 24px">
			<div>
				<Carousel Autoplay="TimeSpan.FromSeconds(5)" Class="carousel">
					@if (CarouselUrls is null) {
						<CarouselSlick>
							<Empty />
						</CarouselSlick>
					}
					else {
						@foreach (var url in CarouselUrls) {
							<CarouselSlick>
								<Image Src="@url" Preview="false" />
							</CarouselSlick>
						}
					}
				</Carousel>
			</div>
		</AntDesign.Col>
		<AntDesign.Col Lg="24" Md="24" Sm="24" Xl="6" Xs="24" Flex="@(1)">
			<Row Gutter="@((ResponsiveGutter, ResponsiveGutter))">
				<Col Flex="@(1)">
					<Card Title="@("Title")" Class="extra-card" >
						Content
					</Card>
				</Col>
				<Col Flex="@(1)">
					<Card Title="@("Title")" Class="extra-card" >
						Content
					</Card>
				</Col>
			</Row>
		</AntDesign.Col>
	</Row>
</GridContent>

<style lang="css" scoped>
	.carousel {
		min-width: 75%;
		max-height: 100%;
	}

	.ant-carousel .slick-slide {
		text-align: center;
		min-width: 75%;
		line-height: 160px;
		overflow: hidden;
	}
</style>

@code {

	private static Dictionary<string, int> ResponsiveGutter { get; } = new() {
		["xs"] = 8,
		["sm"] = 16,
		["md"] = 24,
		["lg"] = 32,
		["xl"] = 48,
		["xxl"] = 64
	};

	[Inject]
	private ApiClient Api { get; init; }

	[Inject]
	private ErrorHandler ErrorHandler { get; init; }

	[Inject]
	private LocalStorageManager LocalStorageManager { get; init; }

	private IList<string>? CarouselUrls { get; set; }

	public override async Task SetParametersAsync(ParameterView parameters) {
		await base.SetParametersAsync(parameters);
		try {
			await LocalStorageManager.Refresh();
		}
		catch (ApiException ex) {
			await LocalStorageManager.ClearAsync();
			ErrorHandler.Handle(ex, 401);
		}
	}

	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		CarouselUrls = (await Api.GetCarouselImageUrlsAsync()).Result;
	}

}