@namespace Client.Pages.SubmissionResult
@using Client.Utils

<div style="@($"cursor: {(Testcase is null ? "default" : "pointer")}")" onclick="@(Testcase is null ? null : OnClick)">
	<Tooltip Title="@TooltipTitle">
		<Card Bordered Class="@CardClass" Style="@($"background-color: {Color}")">
			<Text>@($"#{Result.Id}")</Text>
			<Text>@Text</Text>
		</Card>
	</Tooltip>
</div>

<style lang="css" scoped>
	.test-case-result-card {
		min-height: 80px;
		min-width: 120px;
		margin: 15px;
		padding: 15px;
		text-align: center;
	}

	.test-case-result-card.test-case-visible {
		border-color: gold;
		border-width: 4px;
	}
</style>

@code {

	[Parameter]
	public TestcaseResult Result { get; set; }

	[Parameter]
	public Testcase? Testcase { get; set; }

	[Inject]
	private ModalService ModalService { get; init; }

	private string CardClass => "test-case-result-card" + (Testcase is null ? "" : " test-case-visible");

	private RenderFragment TooltipTitle => (
		@<div>
			<Text>运行时间：@Result.Consumption.Time 毫秒</Text>
			<br/>
			<Text>内存消耗：@Formatter.FormatSize(Result.Consumption.Memory)</Text>
		</div>
	);

	private RenderFragment ModalContent => (
		@<div>
			@if (Testcase?.Input is not null) {
				<Row Gutter="@(16)">
					<AntDesign.Col>
						<Card Title="输入数据" Bordered>
							@Testcase.Input
						</Card>
					</AntDesign.Col>
				</Row>
			}
			<Row Gutter="@(16)">
				<AntDesign.Col Span="12">
					<Card Title="期望输出" Bordered>
						@Testcase!.Output
					</Card>
				</AntDesign.Col>
				<AntDesign.Col Span="12">
					<Card Title="你的输出" Bordered>
						@Result.Output
					</Card>
				</AntDesign.Col>
			</Row>
		</div>
	);

#pragma warning disable CS8524
	private string Color => Result.Result switch {
		TestcaseStatus.AC => "#00FF7F",
		TestcaseStatus.WA => "#FF6347",
		TestcaseStatus.RE => "#8A2BE2",
		TestcaseStatus.TLE => "#FFA500",
		TestcaseStatus.MLE => "##838B8B"
	};

	private string Text => Result.Result switch {
		TestcaseStatus.AC => "通过",
		TestcaseStatus.WA => "答案错误",
		TestcaseStatus.RE => "运行时错误",
		TestcaseStatus.TLE => "时间超限",
		TestcaseStatus.MLE => "空间超限"
	};
#pragma warning restore CS8524

	private void OnClick() {
		ModalService.Info(new ConfirmOptions {
			Title = $"评测点{Result.Id}",
			Content = ModalContent
		});
	}

}