@namespace Client.Pages.SubmissionResult
@using Client.Utils

<div style="@($"cursor: {(TestCase is null ? "default" : "pointer")}")" onclick="@(TestCase is null ? null : OnClick)">
	<Tooltip Title="@TooltipTitle">
		<Card Bordered Class="@CardClass" Style="@($"background-color: {Color}")">
			<Text>@($"#{Result.Id}")</Text>
			<Text>@Text</Text>
		</Card>
	</Tooltip>
</div>

<style lang="css" scoped>
	.test-case-result-card {
		min-height: 80px;
		min-width: 120px;
		margin: 15px;
		padding: 15px;
		text-align: center;
	}

	.test-case-result-card.test-case-visible {
		border-color: gold;
		border-width: 4px;
	}
</style>

@code {

	[Parameter]
	public TestCaseResult Result { get; set; }

	[Parameter]
	public TestCase? TestCase { get; set; }

	[Inject]
	private ModalService ModalService { get; init; }

	private string CardClass => "test-case-result-card" + (TestCase is null ? "" : " test-case-visible");

	private RenderFragment TooltipTitle => (
		@<div>
			<Text>运行时间：@Result.Consumption.Time 毫秒</Text>
			<Text>内存消耗：@Formatter.FormatSize(Result.Consumption.Memory)</Text>
		</div>
	);

	private RenderFragment ModalContent => (
		@<div>
			@if (TestCase?.Input is not null) {
				<Row Gutter="@(16)">
					<AntDesign.Col>
						<Card Title="输入数据" Bordered>
							@TestCase.Input
						</Card>
					</AntDesign.Col>
				</Row>
			}
			<Row Gutter="@(16)">
				<AntDesign.Col Span="12">
					<Card Title="期望输出" Bordered>
						@TestCase!.Expect
					</Card>
				</AntDesign.Col>
				<AntDesign.Col Span="12">
					<Card Title="你的输出" Bordered>
						@Result.Output
					</Card>
				</AntDesign.Col>
			</Row>
		</div>
	);

#pragma warning disable CS8524
	private string Color => Result.Result switch {
		TestCaseStatus.Accepted => "#00FF7F",
		TestCaseStatus.WrongAnswer => "#FF6347",
		TestCaseStatus.RuntimeError => "#8A2BE2",
		TestCaseStatus.TimeLimitExceeded => "#FFA500",
		TestCaseStatus.MemoryLimitExceeded => "##838B8B"
	};

	private string Text => Result.Result switch {
		TestCaseStatus.Accepted => "通过",
		TestCaseStatus.WrongAnswer => "答案错误",
		TestCaseStatus.RuntimeError => "运行时错误",
		TestCaseStatus.TimeLimitExceeded => "时间超限",
		TestCaseStatus.MemoryLimitExceeded => "空间超限"
	};
#pragma warning restore CS8524

	private void OnClick() {
		ModalService.Info(new ConfirmOptions {
			Title = $"评测点{Result.Id}",
			Content = ModalContent
		});
	}

}