@namespace Client.Pages.Account.Center

<AntList Class="filterCardList" DataSource="List" Grid="_listGridType" TItem="ListItemDataType">
	<ListItem Grid="_listGridType" NoFlex>
		<Card Actions="Actions" BodyStyle="padding-bottom: 20px;" Bordered Hoverable>
			<CardMeta>
				<AvatarTemplate>
					<Avatar Size="small" Src="@context.Avatar" />
				</AvatarTemplate>
				<TitleTemplate>@context.Title</TitleTemplate>
			</CardMeta>
			<div class="cardItemContent">
				<div class="cardInfo">
					<div>
						<p>Active User</p>
						<p>@FormatWan(context.ActiveUser)</p>
					</div>
					<div>
						<p>New Users</p>
						<p>@context.NewUser.ToString("0,0")</p>
					</div>
				</div>
			</div>
		</Card>
	</ListItem>
</AntList>

@code

{

	private static readonly RenderFragment Download =
		@<AntDesign.Tooltip Title="@("下载")">
			<Icon Theme="outline" Type="download" />
		</AntDesign.Tooltip>
		;

	private static readonly IList<RenderFragment> Actions = new List<RenderFragment> {
		Download,
		@<AntDesign.Tooltip Title="@("Edit")">
			<Icon Theme="outline" Type="edit" />
		</AntDesign.Tooltip>
		,
		@<AntDesign.Tooltip Title="@("Share")">
			<Icon Theme="outline" Type="share-alt" />
		</AntDesign.Tooltip>
		,
		@<Dropdown>
			<Icon Theme="outline" Type="ellipsis" />
		</Dropdown>
	};

	private static RenderFragment FormatWan(int val) {
		if (val > 10000) {
			val = (int)Math.Floor((double)val / 10000);
		}

		return
			@<span>
				@val
				<span style="font-size: 14px; font-style: normal; margin-left: 2px; position: relative; top: -2px;">万</span>
			</span>
			;
	}
}