@namespace Client.Components
@inherits AntDomComponentBase

<Space Class="@ClassMapper.Class" Size="@("24")">
	<SpaceItem>
		<HeaderSearch Class="action search"
			DefaultValue="umi ui"
			Options="DefaultOptions"
			Placeholder="Site Search" />
	</SpaceItem>
	<SpaceItem>
		<AntDesign.Tooltip Placement="@Placement.Bottom" Title="@("Help")">
			<Unbound>
				<span class="action" @ref="@context.Current">
					<Icon Theme="outline" Type="question-circle" />
				</span>
			</Unbound>
		</AntDesign.Tooltip>
	</SpaceItem>
	<SpaceItem>
		<NoticeIcon ClearText="Empty"
			Count="_count"
			OnClear="HandleClear"
			OnViewMore="HandleViewMore"
			ViewMoreText="see more">
			<NoticeList Data="_notifications"
				EmptyText="You have viewed all notifications"
				ShowViewMore
				TabKey="notification"
				Title="Notifications" />
			<NoticeList Data="_messages"
				EmptyText="You have read all messages"
				ShowViewMore
				TabKey="message"
				Title="Messages" />
			<NoticeList Data="_events"
				EmptyText="You have completed all to do"
				ShowViewMore
				TabKey="event"
				Title="Upcoming" />
		</NoticeIcon>
	</SpaceItem>
	<SpaceItem>
		<AvatarDropdown Avatar="@_currentUser.Avatar"
			MenuItems="@AvatarMenuItems"
			Name="@_currentUser.Name"
			OnItemSelected="HandleSelectUser" />
	</SpaceItem>
</Space>

@code {

	private int _count = 0;

	private CurrentUser _currentUser = new();

	private NoticeIconData[] _events = Array.Empty<NoticeIconData>();

	private NoticeIconData[] _messages = Array.Empty<NoticeIconData>();

	private NoticeIconData[] _notifications = Array.Empty<NoticeIconData>();

	private List<AutoCompleteDataItem<string>> DefaultOptions { get; set; } = new() {
		new AutoCompleteDataItem<string> {
			Label = "umi ui",
			Value = "umi ui"
		},
		new AutoCompleteDataItem<string> {
			Label = "Pro Table",
			Value = "Pro Table"
		},
		new AutoCompleteDataItem<string> {
			Label = "Pro Layout",
			Value = "Pro Layout"
		}
	};

	public AvatarMenuItem[] AvatarMenuItems { get; set; } = {
		new() { Key = "center", IconType = "user", Option = "个人中心" },
		new() { Key = "setting", IconType = "setting", Option = "个人设置" },
		new() { IsDivider = true },
		new() { Key = "logout", IconType = "logout", Option = "退出登录" }
	};

	[Inject]
	protected NavigationManager NavigationManager { get; set; }

	[Inject]
	protected IUserService UserService { get; set; }

	[Inject]
	protected IProjectService ProjectService { get; set; }

	[Inject]
	protected MessageService MessageService { get; set; }

	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		SetClassMap();
		_currentUser = await UserService.GetCurrentUserAsync();
		var notices = await ProjectService.GetNoticesAsync();
		_notifications = notices.Where(x => x.Type == "notification").Cast<NoticeIconData>().ToArray();
		_messages = notices.Where(x => x.Type == "message").Cast<NoticeIconData>().ToArray();
		_events = notices.Where(x => x.Type == "event").Cast<NoticeIconData>().ToArray();
		_count = notices.Length;
	}

	protected void SetClassMap() {
		ClassMapper
			.Clear()
			.Add("right");
	}

	public void HandleSelectUser(MenuItem item) {
		switch (item.Key) {
			case "center":
				NavigationManager.NavigateTo("/account/center");
				break;
			case "setting":
				NavigationManager.NavigateTo("/account/settings");
				break;
			case "logout":
				NavigationManager.NavigateTo("/user/login");
				break;
		}
	}

	public void HandleSelectLang(MenuItem item) { }

	public async Task HandleClear(string key) {
		switch (key) {
			case "notification":
				_notifications = Array.Empty<NoticeIconData>();
				break;
			case "message":
				_messages = Array.Empty<NoticeIconData>();
				break;
			case "event":
				_events = Array.Empty<NoticeIconData>();
				break;
		}
		await MessageService.Success($"清空了{key}");
	}

	public async Task HandleViewMore(string key) {
		await MessageService.Info("Click on view more");
	}

}
