@namespace Client.Components
@inherits AntDomComponentBase
@using BasicLayout = Client.Layout.BasicLayout
@using System.Reflection.Metadata

<Space Class="@ClassMapper.Class" Size="@("24")">
	<SpaceItem>
		<HeaderSearch Class="action search" Placeholder="全站搜索" />
	</SpaceItem>
	@if (User.Role != Role.Student) {
		<SpaceItem>
			<Switch CheckedChildren="管理视图" UnCheckedChildren="学生视图" OnChange="OnLayoutChange" />
		</SpaceItem>
	}
	<SpaceItem>
		<AntDesign.Tooltip Placement="@Placement.Bottom" Title="@("帮助")">
			<Unbound>
				<span class="action" @ref="@context.Current">
					<Icon Theme="@IconThemeType.Outline" Type="@IconType.Outline.QuestionCircle" />
				</span>
			</Unbound>
		</AntDesign.Tooltip>
	</SpaceItem>
	<SpaceItem>
		<NoticeIcon ClearText="Empty"
			Count="_count"
			OnClear="HandleClear"
			OnViewMore="HandleViewMore"
			ViewMoreText="see more">
			<NoticeList Data="_notifications"
				EmptyText="暂时没有通知"
				ShowViewMore
				TabKey="notification"
				Title="通知" />
			<NoticeList Data="_messages"
				EmptyText="暂时没有消息"
				ShowViewMore
				TabKey="message"
				Title="消息" />
		</NoticeIcon>
	</SpaceItem>
	<SpaceItem>
		<AvatarDropdown Avatar="@Avatar"
			MenuItems="@AvatarMenuItems"
			Name="@User.GetDisplayingName()"
			OnItemSelected="HandleSelectUser">
		</AvatarDropdown>
	</SpaceItem>
</Space>

@code {

	private int _count = 0;

	private NoticeIconData[] _messages = Array.Empty<NoticeIconData>();

	private NoticeIconData[] _notifications = Array.Empty<NoticeIconData>();

	private static AvatarMenuItem[] AvatarMenuItems { get; } = {
		new() { Key = "setting", IconType = "setting", Option = "账户设置" },
		new() { IsDivider = true },
		new() { Key = "logout", IconType = "logout", Option = "退出登录" }
	};

	[Parameter]
	public User User { get; set; }

	[Parameter]
	public string? Avatar { get; set; }

	[CascadingParameter]
	private BasicLayout Layout { get; init; }

	[Inject]
	private NavigationManager Navigator { get; init; }

	[Inject]
	private MessageService MessageService { get; init; }

	internal void OnUpdateUser(User user) {
		User = user;
		StateHasChanged();
	}

	internal void OnUpdateAvatar(string avatar) {
		Avatar = avatar;
		StateHasChanged();
	}

	protected override async Task OnInitializedAsync() {
		await base.OnInitializedAsync();
		SetClassMap();
	}

	private void SetClassMap() => ClassMapper.Clear().Add("right");

	private void HandleSelectUser(MenuItem item) {
		switch (item.Key) {
			case "setting":
				Navigator.NavigateTo("/account");
				break;
			case "logout":
				Navigator.NavigateTo("/login");
				break;
		}
	}

	private void HandleClear(string key) {
		switch (key) {
			case "notification":
				_notifications = Array.Empty<NoticeIconData>();
				break;
			case "message":
				_messages = Array.Empty<NoticeIconData>();
				break;
		}
	}

	private async Task HandleViewMore(string key) {
		await MessageService.Info("Click on view more");
	}

	private void OnLayoutChange(bool @checked) {
		if (@checked) {
			Layout.View = User.Role;
			Navigator.NavigateTo("/admin/user");
		}
		else {
			Layout.View = Role.Student;
			Navigator.NavigateTo("/");
		}
		Layout.Refresh();
	}

}
