@namespace Client.Pages.Account.Center
@inherits AntDomComponentBase

<li class="@ClassMapper.Class" @onclick="OnClick">
	@if (string.IsNullOrEmpty(Tips)) {
		<AntDesign.Tooltip Title="@Tips">
			<Unbound>
				<Avatar RefBack="@context" Size="@Size" Src="@Src" Style="cursor: pointer;" />
			</Unbound>
		</AntDesign.Tooltip>
	}

	else {
		<Avatar Size="@Size" Src="@Src" />
	}
</li>