@namespace Client.Pages.Form
@page "/form/advanced-form"

<Form Layout="@FormLayout.Vertical" Model="@_model">
	<PageContainer>
		<Content>
			Advanced forms are commonly used in scenarios where large quantities of data are entered and submitted
			at once.
		</Content>
		<ChildContent>
			<Card Class="CARD" Title="@("Warehouse Management ")">
				<Row Gutter="16">
					<AntDesign.Col Lg="6" Md="12" Sm="24">
						<FormItem Label="Warehouse name">
							<Input @bind-Value="@context.Name" Placeholder="Please enter the warehouse name" />
						</FormItem>
					</AntDesign.Col>
					<AntDesign.Col Lg="new EmbeddedProperty { Span = 8 }" Md="new EmbeddedProperty { Span = 12 }"
						Sm="24" Xl="new EmbeddedProperty { Span = 6, Offset = 2 }">
						<FormItem Label="Warehouse domain">
							<AntDesign.Input @bind-Value="@context.Url" Placeholder="website" Style="width: 100%">
								<AddOnBefore>http://</AddOnBefore>
								<AddOnAfter>.com</AddOnAfter>
							</AntDesign.Input>
						</FormItem>
					</AntDesign.Col>
					<AntDesign.Col Lg="new EmbeddedProperty { Span = 10 }" Md="new EmbeddedProperty { Span = 24 }"
						Sm="24" Xl="new EmbeddedProperty { Span = 8, Offset = 2 }">
						<FormItem Label="Warehouse Manager">
							<Select @bind-Value="@context.Owner" Placeholder="Please select an administrator"
								TItem="string" TItemValue="string">
								<SelectOptions>
									<SelectOption Label="Fu Xiaoxiao" TItem="string" TItemValue="string"
										Value="@("xiao")" />
									<SelectOption Label="Zhou Maomao" TItem="string" TItemValue="string"
										Value="@("mao")" />
								</SelectOptions>
							</Select>
						</FormItem>
					</AntDesign.Col>
				</Row>
				<Row Gutter="16">
					<AntDesign.Col Lg="6" Md="12" Sm="24">
						<FormItem Label="Approver">
							<Select @bind-Value="@context.Approver" Placeholder="Please select an approver"
								TItem="string" TItemValue="string">
								<SelectOptions>
									<SelectOption Label="Fu Xiaoxiao" TItem="string" TItemValue="string"
										Value="@("xiao")" />
									<SelectOption Label="Zhou Maomao" TItem="string" TItemValue="string"
										Value="@("mao")" />
								</SelectOptions>
							</Select>
						</FormItem>
					</AntDesign.Col>
					<AntDesign.Col Lg="new EmbeddedProperty { Span = 8 }" Md="new EmbeddedProperty { Span = 12 }"
						Sm="24" Xl="new EmbeddedProperty { Span = 6, Offset = 2 }">
						<FormItem Label="Effectivity Date">
							<RangePicker @bind-Value="@context.DateRange"
								Placeholder="@(new[] { "Start date", "End date" })" Style="width: 100%" />
						</FormItem>
					</AntDesign.Col>
					<AntDesign.Col Lg="new EmbeddedProperty { Span = 10 }" Md="new EmbeddedProperty { Span = 24 }"
						Sm="24" Xl="new EmbeddedProperty { Span = 8, Offset = 2 }">
						<FormItem Label="Warehouse type">
							<Select @bind-Value="@context.Type" Placeholder="Please select warehouse type"
								TItem="string" TItemValue="string">
								<SelectOptions>
									<SelectOption Label="Private" TItem="string" TItemValue="string"
										Value="@("private")" />
									<SelectOption Label="Public" TItem="string" TItemValue="string"
										Value="@("public")" />
								</SelectOptions>
							</Select>
						</FormItem>
					</AntDesign.Col>
				</Row>
			</Card>

			<Card Title="@("Task Management")">
				<Row Gutter="16">
					<AntDesign.Col Lg="6" Md="12" Sm="24">
						<FormItem Label="Task Name">
							<Input @bind-Value="@context.Name2" Placeholder="Please enter task name" />
						</FormItem>
					</AntDesign.Col>
					<AntDesign.Col Lg="new EmbeddedProperty { Span = 8 }" Md="new EmbeddedProperty { Span = 12 }"
						Sm="24" Xl="new EmbeddedProperty { Span = 6, Offset = 2 }">
						<FormItem Label="Assignment Details">
							<Input @bind-Value="@context.Url2" Placeholder="Please enter assignment details" />
						</FormItem>
					</AntDesign.Col>
					<AntDesign.Col Lg="new EmbeddedProperty { Span = 10 }" Md="new EmbeddedProperty { Span = 24 }"
						Sm="24" Xl="new EmbeddedProperty { Span = 8, Offset = 2 }">
						<FormItem Label="Facilitator">
							<Select @bind-Value="@context.Owner2" Placeholder="Please select the facilitator"
								TItem="string" TItemValue="string">
								<SelectOptions>
									<SelectOption Label="Fu Xiaoxiao" TItem="string" TItemValue="string"
										Value="@("xiao")" />
									<SelectOption Label="Zhou Maomao" TItem="string" TItemValue="string"
										Value="@("mao")" />
								</SelectOptions>
							</Select>
						</FormItem>
					</AntDesign.Col>
				</Row>
				<Row Gutter="16">
					<AntDesign.Col Lg="6" Md="12" Sm="24">
						<FormItem Label="Assigned Personel">
							<Select @bind-Value="@context.Approver2" Placeholder="Please choose the assigned personel"
								TItem="string" TItemValue="string">
								<SelectOptions>
									<SelectOption Label="Fu Xiaoxiao" TItem="string" TItemValue="string"
										Value="@("xiao")" />
									<SelectOption Label="Zhou Maomao" TItem="string" TItemValue="string"
										Value="@("mao")" />
								</SelectOptions>
							</Select>
						</FormItem>
					</AntDesign.Col>
					<AntDesign.Col Lg="new EmbeddedProperty { Span = 8 }" Md="new EmbeddedProperty { Span = 12 }"
						Sm="24" Xl="new EmbeddedProperty { Span = 6, Offset = 2 }">
						<FormItem Label="Deadline">
							<TimePicker @bind-Value="@context.DateRange2" Placeholder="@("Deadline")"
								Style="width: 100%" />
						</FormItem>
					</AntDesign.Col>
					<AntDesign.Col Lg="new EmbeddedProperty { Span = 10 }" Md="new EmbeddedProperty { Span = 24 }"
						Sm="24" Xl="new EmbeddedProperty { Span = 8, Offset = 2 }">
						<FormItem Label="Task Type">
							<Select @bind-Value="@context.Type2" Placeholder="Please select task type" TItem="string"
								TItemValue="string">
								<SelectOptions>
									<SelectOption Label="Private" TItem="string" TItemValue="string"
										Value="@("private")" />
									<SelectOption Label="Public" TItem="string" TItemValue="string"
										Value="@("public")" />
								</SelectOptions>
							</Select>
						</FormItem>
					</AntDesign.Col>
				</Row>
			</Card>

			<Card Title="@("Member management")">
				<FormItem>
					<!--todo: Table Form-->
				</FormItem>
			</Card>
		</ChildContent>
	</PageContainer>
</Form>